
.DS_Store
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/CanerKaraca23.github.io.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.vscode/settings.json
/.vscode/
/.idea/
.liquidrc

# Dependencies
node_modules/
package-lock.json

# Build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
