---
layout: home-page
permalink: /ipfs-404.html
title: Sayfa Bulunamadı
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<a href="{{ relativebase }}" aria-label="Ana sayfaya dön">
    <picture>
      <source srcset="{{ relativebase }}assets/img/404_small.jpg" media="(max-width: 768px)">
      <source srcset="{{ relativebase }}assets/img/404.jpg">
      <img src="{{ relativebase }}assets/img/404.jpg" alt="Sayfa Bulunamadı - 404 Hatası" class="pnf-image" style="width:100vw;max-width:unset;margin-left:calc((100% - 100vw)/2);margin-top:-16.5px;">
    </picture>
</a>
{% include recent-post.html %}
<section aria-label="Arama formu">
  <form class="search-form inline" role="search">
      <div id="search-container">
          <label for="search-input" class="sr-only">Site içinde ara</label>
          <input type="text" id="search-input" class="search" placeholder="Site içinde ara" aria-label="Arama terimi girin">
      </div>
  </form>
  <ul id="results-container" class="results-search" aria-label="Arama sonuçları" aria-live="polite"></ul>
</section>
